.button {
  padding: 10px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: $color-green;
  border-radius: 10px;
  outline: none;
  user-select: none;
  @include button-shadow;

  @include hover-change-color($color-green);
}

.button--orange {
  background-color: $color-orange;
  @include hover-change-color($color-orange);
}
