.button {
  padding: 10px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: $color-green;
  border-radius: 10px;
  outline: none;
  user-select: none;
  @include button-shadow;
}

.button--orange {
  background-color: #FF9900;
}
