
.card {
  position: relative;
  @include card-shadow();
  transition:
    box-shadow .3s,
    transform .5s,
    filter .7s ease-out;
  transform-style: preserve-3d;
  height: 215px;
  box-sizing: border-box;
  border-radius: 10px;
  padding-bottom: 50px;
  user-select: none;

  &--disable {
    filter: grayscale(100%);
  }
}

.card:hover {
  @include card-shadow--hover();
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card--flipped {
  transform: rotateY(180deg);
}

.card--flipped .card__speaker-button {
  display: none;
}

.card__word {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #007CB5;
  padding: 15px 0;
}

.card__image {
  width: 100%;
}

.card__speaker-button {
  position: absolute;
  width: 100%;
  bottom: 17px;
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.card__flip-button {
  @include image-button(20px, 20px, 'icons/flip.svg');
}

.card__speaker-button {
  @include image-button(16px, 20px, 'icons/speaker.svg');
}
