.cards {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 168px);
  gap: 20px;

  @include list-reset;
  padding-top: 20px;
}

.cards--only-image {
  .card__speaker-button {
    display: none;
  }

  .card__word {
    display: none;
    position: static;
  }

  .card__face--back {
    display: none;
  }

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  .card__face {
    position: static;
  }

  .card__image {
    display: block;;
    position: static;
    border-radius: 10px;
  }

  .card {
    height: auto;
    padding: 0;
  }
}
