.game__type {
  margin-bottom: 33px;
}

.game__header {
  display: flex;
  justify-content: space-between;
}

.game__start-button, .game__repeat-word-button {
  margin: 0 auto;
  display: block;
}

.game__result {
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__result-image {
  width: 100%;
  max-width: 450px;
}

.game__result-text {
  font-size: 24px;
  font-weight: 500;
}

@include mobile {
  .game__header {
    flex-direction: column;
    align-items: center;
  }

  .game__progress {
    margin-bottom: 30px;
  }
}
