.stars {
  display: flex;
}

.stars__star {
  margin-left: 5px;
  display: block;
  width: 30px;
  height: 30px;
  background-size: contain;

  &--success {
    @include set-background('icons/star-success.svg');
  }

  &--fail {
    @include set-background('icons/star-fail.svg');
  }
}