$desktop-width: 1024px;
$mobile-width: 768px;
$min-width: 320px;
$desktop-padding: 40px;
$mobile-padding: 20px;

$color-blue: #007CB5;
$color-green: #00AE3B;
$color-orange: #FF9900;

:root {
  --header-height: 60px;
}
